<% #TODO: investigate form helpers? may not be a thing in Sinatra. %>
<form>
  <p>Search terms: <input type="text" name="s"></p>
  <p>Phone number: <input type="text" name="p"></p>
  <input type="submit">
</form>
