<% #TODO: Investigate form helpers. Might be worth including if the project gets larger.  %>
<form>
  <p>Search terms: <input type="text" name="s"></p>
  <p>Phone number: <input type="text" name="p"></p>
  <input type="submit"/>
</form>
